body {
    font-family: arial, sans-serif;
}
header {
    background-color: #fafafa;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
#topnav1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 20px 0px 10px 0px;
}
#topnav1 > div:first-child {
    display: flex;
    padding-left: 10px;
    align-items: center;
}
#googleLogo {
    height: 44px;
    width: 120px;
}
.input-grp {
    width: 632px;
    height: 50px;
    border: 1px solid;
    position: relative;
    left: 20px;
    background-color: #FFF;
}
.input-grp > input {
    height: 50px;
    width: 550px;
    position: absolute;
    font: 16px arial,sans-serif;
    outline: none;
    left: 10px;
    border: none;
}
.icon {
    background-image: url('../image/iconList.png');
    background-size: 528px 68px;
    display: inline-block;
}
.icon-square {
    height: 30px;
    width: 30px;
    background-position: -132px -38px;
    opacity: .55;
}
.icon-square:hover {
    opacity: .85;
}
.icon-bell {
    height: 20px;
    width: 20px;
    background-position: -194px -21px;
}
.bellContainer {
    background-color: #EEE;
    background-color: rgba(0,0,0,.55);
    border-radius: 50%;
    width: 20px;
    height: 20px;
}
.bellContainer:hover {
    background-color: rgba(0, 0, 0, 0.85);
}
#userPic {
    width: 32px;
    height: 32px;
    /* padding: 0px; */
    background-image: url("../image/userPic.jpg");
    border-radius: 50%;
    background-size: 32px 32px;
}
#topnav1 > div:last-child {
    display: flex;
    align-items: center;
}
#topnav1 > div:last-child > a {
    display: inline-block;
    margin-right: 20px;
}
.icon-micro {
    width:18px;
    height: 23px;
    background: url('../image/micIcon.png') no-repeat -3px 0;
    background-size: 24px 24px;
    position: absolute;
    right: 50px;
    top: 10px;
}
svg {
    width: 24px;
    height: 24px;
    position: absolute;
    fill: #4285f4;
    right: 10px;
    top: 10px;
}
#topNav2 {
    border-bottom: 1px solid #ebebeb;
    display: flex;
    justify-content: sp
}
#topNav2 > ul > li {
    display: inline-block;
    text-decoration-style: none;
}
#topNav2 > ul > li > a {
    text-decoration: none;
    margin-right: 15px;
    color: #777;
    font-size: 13px;
}
#topNav2 > ul > li > a:hover {
    color: #222;
}
#topNav2 > ul:first-child > li:first-child > a {
    border-bottom: 3px solid #1A73E8;
    padding: 0px 15px 15px 15px;
}
#topNav2 > ul:first-child {
    padding-left: 150px;
}
#topNav2 > ul:last-child {
    margin-left: 120px;
}

main {
    position: absolute;
    top: 130px;
    padding-left: 140px;
}
#nbresult {
    color: #808080;
    font-family: arial,sans-serif;
    font-size: small;
    margin: 15px 0px 20px 0px;
    padding-left: 15px;
}
#firstMatch {
    width: 632px;
    height: 280px;
    border: 1px solid #ebebeb;
    position: relative;
}
#firstMatch > div > b {
    /* width: 357px; */
    /* height: 53px; */
    font-size: 16px;
    line-height: 1.2;
    text-align: left;
}
#firstMatch > div:first-child {
    width: 357px;
    height: 53px;
    padding-left: 10px;
    padding-top: 10px;
}
#firstMatch > a > img {
    width: 211px;
    height: 91px;
    position: absolute;
    top: 0;
    right: 0;
}
#firstMatch > div > ol > li {
    margin-bottom: 4px;
}
#firstMatch > div > ol {
    padding-inline-start: 30px;
    padding-top: 10px;
}
#firstMatch > div > a {
    font-size: small;
    text-decoration: none;
    color: #777;
    margin-left: 30px;
    font-size: 14px;
}
#firstMatch > div > a:hover {
    text-decoration: underline;
}
.websiteLink > h3 > a {
    text-decoration: none;
    color: #1a0dab;
    font-weight: 400;
}
.websiteLink > h3 {
    margin-bottom: 0;
}
.websiteLink > div {
    color: #006621;
    font-size: 14px;
    font-weight: 400;
}
.websiteLink {
    padding-left: 10px;
}